@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600&display=swap');

@font-face {
	font-family: 'Evolventa Regular';
	src: local('Evolventa'), url('assets/fonts/Evolventa-Regular.woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Evolventa Bold';
	src: local('Evolventa Bold'), url('assets/fonts/Evolventa-Bold.woff');
	font-weight: bold;
	font-style: normal;
}

:root {
	--0: 0px;
	--4: 4px;
	--8: 8px;
	--12: 12px;
	--20: 20px;
	--24: 24px;
	--36: 36px;
	--48: 48px;
	--64: 64px;
	--72: 72px;
	--translate-y: 0.25rem;
	--translate-x: 0.5rem;
	--rotate: 6deg;
}

/** Global Vars */

@media (prefers-color-scheme: dark) {
	:root {
		--neutral-dark-05: rgba(242, 232, 234, 5%);
		--neutral-dark-15: rgba(242, 232, 234, 15%);
		--text: #f2e8ea;
		--pill-text-hovered: #170d0f;
		--background: #0a0b04;
		--primary: #c5c7bc;
		--secondary: #444738;
		--secondary-60: rgba(68, 71, 56, 0.6);
		--accent: #dddfd8;
	}
}

@media (prefers-color-scheme: light) {
	:root {
		--neutral-dark-05: rgba(10, 11, 4, 5%);
		--neutral-dark-15: rgba(10, 11, 4, 15%);
		--text: #f2e8ea;
		--pill-text-hovered: #170d0f;
		--background: #0a0b04;
		--primary: #c5c7bc;
		--secondary: #444738;
		--secondary-60: rgba(68, 71, 56, 0.6);
		--accent: #dddfd8;
		/* --text: #170d0f;
		--pill-text-hovered: #f2e8ea;
		--background: #f2f5e0;
		--primary: #414338;
		--secondary: #c4c7b8;
		--secondary-60: rgba(196, 199, 184, 0.6);
		--accent: #252720; */

		/* Scrollbar */
	}
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;

	-webkit-user-drag: none;
	-webkit-tap-highlight-color: transparent;

	/* Scrollbar */

	::-webkit-scrollbar {
		width: 8px;
	}

	::-webkit-scrollbar-track {
		background-color: transparent;
	}

	::-webkit-scrollbar-thumb {
		border-radius: 8px;
		background-color: var(--neutral-dark-05);
	}

	::-webkit-scrollbar-thumb:hover {
		background-color: var(--neutral-dark-15);
		cursor: pointer;
	}
}

body {
	user-select: none;
	overflow-x: hidden;
	background: var(--background);
}

#root {
	display: flex;
	flex-direction: column;
	place-items: center;
	min-width: 375px;
	width: 100%;
	min-height: 100vh;
	height: 100%;
}
